*{
    margin: 0;
    padding: 0;
    text-align: center;
    
}

body{
    background-color:whitesmoke;
}
h1{
    background-color: rgb(11, 11, 57);
    color:white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 100px;
    width: 100px;
}
img{
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 30%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 3rem;
    gap: 5rem;


    
}
#user-score,
#comp-score{
    font-size:3rem;

}
#msg{
    background-color:rgb(10, 10, 58) ;
    margin-top: 2rem;
    color: white;
    font-size: 1.5rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;


}
.msg-container{
    margin-top:5rem;
}